:root {
	--swiper-scrollbar-bottom: 0.8rem;
	--swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
	--swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.8);
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

wrapper {
	width: 90vw;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

viewport-alert {
	display: none;
	width: 90vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

viewport-alert {
	font-size: 1.6rem;
	color: var(--text);
	line-height: 3.2rem;
}

header,
section,
footer {
	margin-top: 8rem;
	width: 100%;
}

a,
a:visited {
	font-weight: 500;
	color: var(--text-faded);
	text-decoration: none;
	transition: color 0.5s ease;
}

a:hover {
	color: var(--link-hover);
}

socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1.6rem;
}

socials a {
	margin-right: 0.8rem;
}

subsection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 4rem;
}

left {
	width: 25%;
}

roles,
members,
tech,
links {
	display: block;
}

roles,
members,
links {
	font-size: 1.6rem;
	line-height: 3.2rem;
}

roles {
	color: var(--heading);
	margin-top: 0.8rem;
}

members,
links {
	color: var(--text-faded);
}

members:first-of-type,
links:first-of-type {
	margin-top: 1.6rem;
}

tech {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2rem;
	color: var(--text);
	margin-top: 1.6rem;
}

badge:not(:last-child) {
	margin-right: 0.4rem;
}

right {
	width: 65%;
}

swiper-container {
	width: 100%;
	height: 40rem;
}

swiper-container[gallery] {
	cursor: grab;
}

swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

footer {
	padding-top: 4rem;
	margin-bottom: 8rem;
	border-top: 1px solid var(--border);
	font-size: 1.2rem;
	color: var(--text-faded);
}
