:root {
	--alert: coral;
	--background-hover: #eee;
	--border: rgba(0, 0, 0, 0.2);
	--heading: #111;
	--link-hover: #007aff;
	--text: #333;
	--text-faded: #777;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: none;
	list-style: none;
}

html {
	font-family: Google Sans, Inter, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
	color: var(--heading);
}

p {
	font-size: 1.6rem;
	line-height: 3.2rem;
	color: var(--text);
}

icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 3.2rem;
	height: 3.2rem;

	border: 1px solid var(--border);
	border-radius: 0.8rem;
	transition: background 0.5s ease;
	cursor: pointer;
}

icon:hover {
	background: var(--background-hover);
}

icon svg {
	width: 1.6rem;
	height: 1.6rem;

	color: var(--text);
}

badge {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding: 0.4rem 1.2rem;

	border: 1px solid var(--border);
	border-radius: 1.6rem;
}
